@{
    ViewData["Title"] = "Welcome to Metric System";
}
<div class="hero-wrap">
    <div class="panel-glass hero-card">
        <h1>Welcome to Metric<br />System</h1>
        <p>Easily convert from British system to international<br />metric system.</p>
    </div>
</div>
